<footer>

    <div class="footer-gray">
      <div class="footer-custom">
        <div class="footer-lists">
          <div class="footer-list-wrap">
            <h6 class="ftr-hdr">SSM School</h6>
            <ul class="ftr-links-sub">
              <li>Chromepet, Chennai</li>
            </ul>
            <h6 class="ftr-hdr">Address</h6>
            <ul class="ftr-links-sub">
              <li>Nagappa Nagar</li>
              <li>Chromepet</li>
              <li>Chennai</li>
            </ul>
          </div>
          <!--/.footer-list-wrap-->
          
          <div class="footer-list-wrap">
            <h6 class="ftr-hdr">To Contact</h6>
            <ul class="ftr-links-sub">
              <li><em style="color: #1b064d;"><b>Email: </b></em>
                <a href="mailto:sundaravallischool@gmail.com"><b>sundaravallischool@gmail.com</b></a></li>
              <li><em style="color: #1b064d;"><b>Principal Number:</b></em> XXXXXXXXX</li>
              <li><em style="color: #1b064d;"><b>Office Number:</b></em> XXXXXXXXX</li>
            </ul>
          </div>
          <!--/.footer-list-wrap-->

        </div>
        <!--/.footer-lists-->
        
        <div class="footer-social">
          <h6 class="ftr-hdr">Connect with us</h6>
          <ul>
            <li>
              <a href="https://www.facebook.com/" target="_blank" title="Facebook" onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);">
                <img width="24" height="24" alt="Like us on Facebook" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/fb.png">
              </a>
            </li>
            <li>
              <a href="https://pinterest.com/" target="_blank">
                <img width="24" height="24" alt="Follow us on Pinterest" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/pin-badge.png">
              </a>
            </li>
            <li>
              <a target="_blank" href="http://instagram.com/">
                <img width="24" height="24" alt="Follow us on Instagram" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/instagram-badge.png">
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/" target="_blank" title="Twitter" onclick="_gaq.push(['_trackSocial', 'Twitter', 'Follow', 'Footer', 'undefined', 'True']);">
                <img width="67" alt="Follow us on Twitter" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/twitter.png">
              </a>
            </li>
          </ul>
        </div>
        <!--/.footer-social-->


        <div class="footer-legal">
          <p>&copy; Copyrights  2022 SSM School Chromepet. | 
              <a href="#" rel="nofollow">Privacy Policy</a> | 
              <a href="#" rel="nofollow">Terms of Use</a> | 
              <a href="#" rel="nofollow">Terms of Sale</a></p>
          </div>
        <!--/.footer-legal-->
        
      </div>
      <!--/.footer-custom-->
    </div>
    <!--/.footer-gray-->
  </footer>
