.title{
    display: flex;
    margin-top:5%;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#tit{
    width:84%;
}
#log{
    border: none;
}

.table{
    border:1px solid black;
    border-top: 2px solid black;
}



img{
    margin-left: 200px;
    width: 140px;
    height: 150px;
}
.button{
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 0;
    width: fit-content;
    padding: 10px 20px;
    transition: .2s;
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px lightgray;
}
.button:hover{
    background-color: dodgerblue;
    transition: .2s;
}
.button:active{
    background-color: rgb(7, 85, 163);
    transition: .2s;
}

@media (max-width: 650px) {
    .details,.right{
        width: 90%;
    }
    .details{
        margin:3% auto;
    }
    .right{
        margin-bottom: 5%;
    }
    .button{
        margin: 30px auto 10px 70px;
    }
}
@media (min-width:650px){
    .button{
        margin: 30px auto 10px 90px;
    }
}
@media (min-width: 1000px) {
    .details{
        float: left;
        width: 50%;
        margin-top: 3%;
    }
    .right{
        margin-top: 3%;
        margin-left: 600px;
    }
    .button{
        margin: 30px auto 10px 100px;
    }
}


