<app-header></app-header>
<h1><b>Meet the Pride of SSM !</b></h1>
<div class="accordion">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
    <ngb-panel title="Chess Achievement">
      <ng-template ngbPanelContent class="content">
        <section id="subject">
          Pranav.K.P is studying in VII D won many prizes in chess tournament. 
          He won gold in international abacus competition held at Malaysia at the age of 7. 
          His current chess fide rating is 1632.

          Placed 1st in U -14 Boys Chengalpattu district championship.
        </section>
        <section id="photo">
            <img src="assets/img/chess.jpg">
        </section>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Tennis Tournament">
        <ng-template ngbPanelContent class="content">
          <section id="subject">
            Inter-News & Events Tennis Tournament, 
            conducted by Annai Violet Matriculation News & Events Chromepet on 28th Jan 2022
          </section>
          <section id="photo">
            <img src="assets/img/tennis.png">
        </section>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="The future author">
        <ng-template ngbPanelContent class="content">
          <section id="subject">
            Sharvanth (Class VII) is talented in writing books and his journey into writing world 
            commenced when he was around 7 yrs. At the age of 11 he published his first book when 
            he was 12 he penned his second book. He also recorded and achieved a title ” 
            The youngest to write a fiction about the adventures of a detective in INDIA book of records”. 
            He is now working on 2 more books.
          </section>
          <section id="photo">
            <img src="assets/img/author.png">
        </section>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Skating">
        <ng-template ngbPanelContent class="content">
          <section id="subject">
            It was an honour to be felicitated by Mr. Vairamuth sir at Book fair on 27-2-22. 
            During the conversation he entitled Sharvath as “The Future Author” and he has almost 
            sold 100 nos of his books in the book fair till date.
          </section>
          <section id="photo">
            <img src="assets/img/skating.jpg">
        </section>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="InterSchool Culturals">
        <ng-template ngbPanelContent class="content">
          <section id="subject">
            CM sir inaugurated the Naan Mudhalvan Scheme which aims to equip about 10 lakhs youth 
            across the state annually with skills that will help them realise their talents for the 
            benefits of the country. I understand that the scheme aims to identify, train and offer 
            career and academic guidance to talented students.
          </section>
          <section id="photo">
            <img src="assets/img/culturals.jpg">
        </section>
        </ng-template>
      </ngb-panel>
  </ngb-accordion>
</div>
<app-footer></app-footer>